*{
    margin:0;
    padding: 0;
}
    body{
   /* background-color: rgba(0, 255, 255, 0.342);
    color: black;*/
}




.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75px;
}
.home{
    padding: 10px;
}
.home ul li{
    display:flex;
    gap:3px;
     width: 14px;
     list-style: none;
     display: flex;
     gap: 15px;
     padding-top: 14px;
}
.home li img{
    height: 20px;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.heading{
    display:flex;
    gap:3px;
     width: 100%;
     display: flex;
     padding: 23px 14px;
     gap: 15px;
     padding-top: 14px;
     align-items: center;
     font-size: 13px;

}
.heading img{
    width: 30px;
}